<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Xin chào, <span th:text="${user.username}">User</span>!</h1>
    <p class="text-center">ID: <span th:text="${user.id}">Unknown</span></p>
    <div class="text-center">
        <a class="btn btn-primary" th:href="@{/logout}">Đăng xuất</a>
    </div>
</div>
</body>
</html>
